body:before {
  content: "";
  position: fixed;
  z-index: -1;
  background-size:cover;
  background-position:center top;
  display: block;
  background-image: url("relawan.png");
  background-color: #1a252f;
  width: 100%;
  height: 100%;
  filter: blur(5px) ;
  -webkit-filter: blur(5px) ;
}

p {
  color: black;
}